<!DOCTYPE html>
<html>
<head>
  <title><%= titre %></title>
  <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>
<body>
    <div class="container">
    	<header>
    		<%= image_tag("logo.png", :alt => "Application Exemple", :class => "round") %>
    		<nav class="round">
    			<ul>
    				<li><%= link_to "Accueil", '#' %></li>
    				<li><%= link_to "Aide", '#' %></li>
    				<li><%= link_to "Inscription", '#' %></li>
    			</ul>
    		</nav>
    	</header>
    	<section class="round">
    	    <%= yield %>
    	</section>
    </div>
</body>
</html>
